@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --text-colour: #000;
    --icon-colour: #000;
}

body {
    color: var(--text-colour);
    font-family: Ubuntu, sans-serif;
    font-size: 1.3em;
    background-color: #fafafa;
    padding: 0 2em;
    margin: 0 auto;
    max-width: 28em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > :first-child {
    margin-top: 2em;
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 1.1em;
    }
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.hidden {
    display: none;
}

a.button {
    display: inline-block;
    padding: 1em;
    color: #fafafa;
    background-color: #333;
    border: none;
    border-radius: 0.5em;
    text-decoration: none;
    margin: auto;
}

a.button:active {
    background-color: black;
}

.button-wrapper {
    text-align: center;
}

section > svg, section > img {
    margin: auto;
    display: block;
}

footer {
    flex-grow: 1;
    min-height: 48px;
    margin: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.7em;
}

a.gh-icon {
    display: block;
    opacity: 0.5;
}

a.gh-icon:hover {
    opacity: 1;
}

a > img {
    border: none;
}

footer a {
    color: #444;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}
