body {
    margin: 0;
    background: #333;
    color: #eee;
    height: 100vh;
    font-size: 14px;
    font-family: Cantarell;
}

input {
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 1px solid #555;
}

#top-toolbar, #status-bar {
    width: 100%;
    background-color: #444;
    padding: 0;
    margin: 0;
    border: none;
    min-height: 28px;
    max-height: 28px;
}

#top-toolbar {
    text-align: center;
}

#status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#status-bar > p {
    padding: 0;
    padding-bottom: 2px;
    font-family: DejaVu Sans Mono;
    font-size: 12px;
}

.toolbar-button {
    border: none;
    background: inherit;
    padding: 2px;
    margin: 0;
}

.toolbar-button:active {
    opacity: 0.8;
}

.toolbar-button > img {
    vertical-align: middle;
    height: 24px;
}

#main-ui {
    display: flex;
    height: 100%;
    overflow: hidden;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#level-scene {
    overflow: hidden;
    flex-grow: 1;
}

#right-sidebar {
    width: 350px;
    height: 100%;
    border-left: 1px solid #555;
    background-color: #444;
}

.sidebar-window {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    flex-grow: 1;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.sidebar-window > header {
    text-align: center;
    background: #555;
    padding: 2px;
    padding-bottom: 3px;
    min-height: 22px;
}

#object-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#object-list > li {
    border-bottom: 1px dotted #555;
    padding: 2px 1em;
    cursor: default;
}

#object-list > li:nth-child(even) {
    background-color: #404040;
}

#object-list > li.selected {
    color: #ffcd17;
    background-color: #333;
}

#properties-table {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    width: 100%;
    overflow: auto;   
}

#properties-table tr {
    border-bottom: 1px dotted #555;
    padding: 2px 1em;
}

#properties-table tr:nth-child(even) {
    background-color: #404040;
}

#properties-table th {
    width: 40%;
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    cursor: default;
}
