:root {
    --highlight-colour: #ffcd17;
    --text-colour: #eee;
    --shadow-text-colour: #aaa;
    --background1: #333;
    --background2: #444;
    --shadow-background2: #404040;
    --background3: #555;
}

body {
    margin: 0;
    background: var(--background1);
    color: var(--text-colour);
    height: 100vh;
    font-size: 14px;
    font-family: Cantarell;
}

input {
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--background3);
}

#top-toolbar, #status-bar {
    width: 100%;
    background-color: var(--background2);
    padding: 0;
    margin: 0;
    border: none;
    min-height: 28px;
    max-height: 28px;
}

#top-toolbar {
    text-align: center;
}

#status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#status-bar > p {
    padding: 0;
    padding-bottom: 2px;
    font-family: DejaVu Sans Mono;
    font-size: 12px;
}

.toolbar-button, .list-button {
    border: none;
    background: inherit;
    padding: 2px;
    margin: 0;
}

.toolbar-button > svg, .list-button > svg {
    vertical-align: middle;
    --icon-colour: var(--text-colour);
}

/* .toolbar-button > svg {
    transform: scale(1.5);
} */

.toolbar-button:active > svg,
.toolbar-button:disabled > svg,
.list-button:active > svg,
.list-button:disabled > svg {
    --icon-colour: var(--shadow-text-colour);
}

.list-button.button-with-text {
    color: var(--text-colour);
    background-color: var(--background3);
    border-radius: 3px;
    padding: 2px 12px;
}
.list-button.button-with-text:active {
    color: var(--shadow-text-colour);
    border: none;
}
.list-button.button-with-text > svg {
    position: relative;
    top: -1px;
}

#main-ui {
    display: flex;
    height: 100%;
    overflow: hidden;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#level-scene {
    overflow: hidden;
    flex-grow: 1;
}

#left-sidebar {
    height: 100%;
    border-right: 1px solid var(--background3);
    background-color: var(--background2);
}

#right-sidebar {
    width: 350px;
    height: 100%;
    border-left: 1px solid var(--background3);
    background-color: var(--background2);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-window {
    height: 100%;
    flex-shrink: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--background3);
    border-bottom: 1px solid var(--background3);
}

.sidebar-window > header {
    text-align: center;
    background: var(--background3);
    padding: 2px;
    padding-bottom: 3px;
    min-height: 22px;
}

#add-list {
    /* display: flex;
    flex-wrap: wrap;
    width: 128px; */
    padding: 0;
    margin: 0;
    overflow: auto;
}

#add-list > button {
    border: none;
    background: inherit;
    display: block;
    margin: 0;
    padding: 0;
    --icon-colour: var(--text-colour);
}

#add-list > button:active {
    --icon-colour: var(--shadow-text-colour);
}

#add-list > button.activated {
    --icon-colour: var(--highlight-colour);
}

/* #add-list > li {
    display: block;
} */

#add-list > button > svg {
    fill: none;
    stroke: var(--icon-colour);
    stroke-width: 2px;
}

#add-list > button > svg .filled {
    fill: var(--icon-colour);
    stroke: none;
}

#object-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#object-list > li {
    border-bottom: 1px dotted var(--background3);
    padding: 2px 1em;
    cursor: default;
    display: flex;
}

#object-list > li > p:first-child {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#object-list > li:nth-child(even) {
    background-color: var(--shadow-background2);
}

#object-list > li.selected {
    color: var(--highlight-colour);
    background-color: var(--background1);
}

/* This is needed because HTML
tables apparently can't be made to scroll
on their own */
#properties-table-wrapper {
    overflow: auto;
    height: 100%;
}

#properties-table {
    padding: 0;
    margin: 0;
    width: 100%;
}

#properties-table tr {
    border-bottom: 1px dotted var(--background3);
    padding: 2px 1em;
}

#properties-table tr:nth-child(even) {
    background-color: var(--shadow-background2);
}

#properties-table th {
    width: 40%;
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    cursor: default;
}

.deleted {
    display: none !important;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-modal {
    display: none;
}

.modal-window {
    width: 36em;
    height: 18em;
    background: var(--background1);
    border: 1px solid var(--background3);
    color: var(--text-colour);
    border-radius: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal-window > :first-child {
    flex-grow: 1;
    font-size: 1.2em;
    text-align: center;
    padding: 2em;
}

.modal-window-buttons {
    display: flex;
}

.modal-window-buttons > * {
    flex-grow: 1;
    border: 1px solid var(--background3);
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    text-align: center;
    padding: 1em;
    margin: 0;
    background: var(--background2);
    color: var(--text-colour);
}

.modal-window-buttons > *:first-child {
    border-bottom-left-radius: 1em;
}

.modal-window-buttons > *:last-child {
    border-right: none;
    border-bottom-right-radius: 1em;
}

.modal-window-buttons button:active {
    color: var(--shadow-text-colour);
    background: var(--shadow-background2);
}

#first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.first-page-action {
    border: none;
    background: inherit;
    color: var(--text-colour);
    --icon-colour: var(--text-colour);
    font-size: 2.5em;
    margin: 1em;
    padding: 1em;
    width: 15em;
    text-align: left;
}

.first-page-action > svg {
    vertical-align: middle;
    margin-right: 1em;
    margin-top: -0.2em;
}
