@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
    --highlight-colour: #ffcd17;
    --text-colour: #eee;
    --shadow-text-colour: #aaa;
    --background1: #333;
    --background2: #444;
    --shadow-background2: #404040;
    --background3: #555;
}

body {
    margin: 0;
    background: var(--background1);
    color: var(--text-colour);
    height: 100vh;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
    overflow: hidden;
}

button {
    font-family: inherit;
}

a:link, a:visited {
    font-family: inherit;
    color: #8888ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--background3);
}

#top-toolbar, #status-bar {
    width: 100%;
    background-color: var(--background2);
    padding: 0;
    margin: 0;
    border: none;
    min-height: 28px;
    max-height: 28px;
    display: flex;
    justify-content: space-between;
}

#top-toolbar-buttons {
    margin: 0;
    padding: 2px 8px;
}

#login-tool {
    line-height: 24px;
    padding: 2px 8px;
    display: flex;
    justify-content: right;
}

#login-tool button {
    color: inherit;
    background: transparent;
    border: none;
    font-size: inherit;
    padding: 0;
}

#status-bar > p {
    padding: 0 1em;
    padding-bottom: 2px;
    font-family: Ubuntu Mono, monospace;
    /* font-size: 12px; */
    line-height: 24px;
    margin: 0;
}

.toolbar-button, .list-button, .button-with-text {
    border: none;
    background: inherit;
    padding: 2px;
    margin: 0;
}

button > svg {
    vertical-align: middle;
    --icon-colour: var(--text-colour);
}

/* .toolbar-button > svg {
    transform: scale(1.5);
} */

button:active > svg,
button:disabled > svg {
    --icon-colour: var(--shadow-text-colour);
}

.button-with-text {
    color: var(--text-colour);
    background-color: var(--background3);
    border-radius: 3px;
    padding: 2px 12px;
}
.button-with-text:active {
    color: var(--shadow-text-colour);
    border: none;
}
.button-with-text > svg {
    position: relative;
    top: -1px;
}

#main-ui {
    display: flex;
    height: 100%;
    overflow: hidden;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#level-scene {
    overflow: hidden;
    flex-grow: 1;
}

#left-sidebar {
    height: 100%;
    border-right: 1px solid var(--background3);
    background-color: var(--background2);
}

#right-sidebar {
    width: 350px;
    height: 100%;
    border-left: 1px solid var(--background3);
    background-color: var(--background2);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-window {
    height: 100%;
    flex-shrink: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--background3);
    border-bottom: 1px solid var(--background3);
}

.sidebar-window > header {
    text-align: center;
    background: var(--background3);
    padding: 2px;
    padding-bottom: 3px;
    min-height: 22px;
}

#add-list {
    /* display: flex;
    flex-wrap: wrap;
    width: 128px; */
    padding: 0;
    margin: 0;
    overflow: auto;
}

#add-list > button {
    border: none;
    background: inherit;
    display: block;
    margin: 0;
    padding: 0;
    --icon-colour: var(--text-colour);
}

#add-list > button:active {
    --icon-colour: var(--shadow-text-colour);
}

#add-list > button.activated {
    --icon-colour: var(--highlight-colour);
}

/* #add-list > li {
    display: block;
} */

#add-list > button > svg {
    fill: none;
    stroke: var(--icon-colour);
    stroke-width: 2px;
}

#add-list > button > svg .filled {
    fill: var(--icon-colour);
    stroke: none;
}

#object-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#object-list > li {
    border-bottom: 1px dotted var(--background3);
    padding: 2px 1em;
    cursor: default;
    display: flex;
}

#object-list > li > p:first-child {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#object-list > li:nth-child(even) {
    background-color: var(--shadow-background2);
}

#object-list > li.selected,
.file-list > li.selected {
    color: var(--highlight-colour);
    background-color: var(--background1);
}

/* This is needed because HTML
tables apparently can't be made to scroll
on their own */
#properties-table-wrapper {
    overflow: auto;
    height: 100%;
}

#properties-table {
    padding: 0;
    margin: 0;
    width: 100%;
}

#properties-table tr {
    border-bottom: 1px dotted var(--background3);
    padding: 2px 1em;
}

#properties-table tr:nth-child(even) {
    background-color: var(--shadow-background2);
}

#properties-table th {
    width: 40%;
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    cursor: default;
}

.deleted {
    display: none !important;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-modal {
    display: none;
}

.modal-window {
    width: 36em;
    min-height: 18em;
    background: var(--background1);
    border: 1px solid var(--background3);
    color: var(--text-colour);
    border-radius: 1em;
    box-shadow: 0px 0px 1.5em 0px rgba(0,0,0,0.5);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal-window > :first-child {
    flex-grow: 1;
    font-size: 1.2em;
    text-align: center;
    padding: 2em;
}

.modal-window-buttons {
    display: flex;
}

.modal-window-buttons > * {
    flex-grow: 1;
    border: 1px solid var(--background3);
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    text-align: center;
    padding: 1em;
    margin: 0;
    background: var(--background2);
    color: var(--text-colour);
}

.modal-window-buttons > *:first-child {
    border-bottom-left-radius: 1em;
}

.modal-window-buttons > *:last-child {
    border-right: none;
    border-bottom-right-radius: 1em;
}

.modal-window-buttons button:active {
    color: var(--shadow-text-colour);
    background: var(--shadow-background2);
}

.modal-window-buttons button:disabled {
    color: var(--shadow-text-colour);
    /* background: var(--shadow-background2); */
}

#level-save-window-content {
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.tab-bar {
    font-size: 1em !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-grow: 0 !important;
    display: flex;

}

.tab-bar input {
    visibility: hidden;
    position: absolute;
}

.tab-bar label {
    background: var(--background2);
    display: block;
    padding: 1em;
    flex-grow: 1;
    border-right: 1px solid var(--background3);
}

.tab-bar label:first-of-type {
    border-top-left-radius: 1em;
}

.tab-bar label:last-of-type {
    border: none;
    border-top-right-radius: 1em;
}

.tab-bar input:checked + label {
    background: var(--background1);
}

.tab-bar input:disabled + label {
    color: var(--shadow-text-colour);
}

#level-share-window > dialog {
    width: 50em;
}

#level-open-page-cloud,
#level-open-page-local,
#level-share-page-sharing {
    flex-grow: 1;
    height: 30em;
    overflow: auto;
}

#level-open-page-cloud,
#level-share-page-sharing {
    padding: 1em;
}

#level-open-page-local {
    font-size: 1.2em;
    text-align: center;
    padding: 2em;
}

.file-list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    overflow: auto;
    max-height: 20em;
    text-align: left;
    border: 1px solid var(--background3);
    font-size: 14px;
}

.file-list > li {
    border-bottom: 1px dotted var(--background3);
    padding: 2px 1em;
    cursor: default;
}

.file-li-main {
    display: flex;
}

.file-li-main > p:first-child {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.file-list > li:nth-child(even) {
    background-color: var(--shadow-background2);
}

.file-li-sharing {
    display: none;
}

li.shared-level-li.selected .file-li-sharing {
    padding: 1em;
    display: flex;
}

.share-qr {
    margin-right: 1em;
    width: 100px;
    height: 100px;
}

.file-li-sharing p {
    color: var(--text-colour);
    font-size: 1.2em;
}

li.shared-level-li .share-button svg {
    --icon-colour: #13b826;
}

.shared-icon {
    --icon-colour: var(--text-colour);
    margin: 2px;
    padding: 0;
    vertical-align: middle;
}

#level-save-name-box label {
    margin-right: 1em;
    text-align: right;
}

.error-message {
    margin: 0 0 1em 0;
    padding: 0;
    color: #ff5500;
}

.popup-menu {
    display: inline-block;
    position: absolute;
    margin-top: 26px;
    margin-left: -4em;
    background: var(--background1);
    border: 1px solid var(--background3);
    border-top: none;
    color: var(--text-colour);
    border-radius: 0 0 1em 1em;
    /* box-shadow: 0px 0.7em 0.7em 0px rgba(0,0,0,0.5); */
    padding: 1em;
}

.popup-menu-r {
    margin-left: 0;
    /* transform: translateX(-100%); */
}

menu.popup-menu {
    list-style: none;
    min-width: 8em;
}

.popup-menu > :first-child {
    margin-top: 0;
}

.popup-menu > :last-child {
    margin-bottom: 0;
    clear: both;
}

.hidden-popup {
    display: none;
}

#test-popup > p:first-child {
    float: left;
    padding-right: 1em;
    font-size: 1.2em;
    max-width: 6.5em;
}

#test-qr, .share-qr {
    border: 0.5em solid #eee;
    border-radius: 0.5em;
}

p#test-url {
    text-align: center;
    clear: both;
}


#first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.first-page-action {
    border: none;
    background: inherit;
    color: var(--text-colour);
    --icon-colour: var(--text-colour);
    font-size: 2.5em;
    margin: 1em;
    padding: 1em;
    width: 15em;
    text-align: left;
}

.first-page-action > svg {
    vertical-align: middle;
    margin-right: 1em;
    margin-top: -0.2em;
}
