body {
    margin: 0;
    background: #333;
    color: #eee;
    height: 100vh;
    font-size: 14px;
    font-family: Cantarell;
}

input {
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 1px solid #555;
}

#top-toolbar, #status-bar {
    width: 100%;
    background-color: #444;
    padding: 0;
    margin: 0;
    border: none;
    min-height: 28px;
    max-height: 28px;
}

#top-toolbar {
    text-align: center;
}

#status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#status-bar > p {
    padding: 0;
    padding-bottom: 2px;
    font-family: DejaVu Sans Mono;
    font-size: 12px;
}

.toolbar-button, .list-button {
    border: none;
    background: inherit;
    padding: 2px;
    margin: 0;
}

.toolbar-button > svg, .list-button > svg {
    vertical-align: middle;
    --icon-colour: #eee;
}

.toolbar-button > svg {
    transform: scale(1.5);
}

.toolbar-button:active > svg,
.toolbar-button:disabled > svg,
.list-button:active > svg,
.list-button:disabled > svg {
    --icon-colour: #aaa;
}

.list-button.button-with-text {
    color: #eee;
    background-color: #555;
    border-radius: 3px;
    padding: 2px 12px;
}
.list-button.button-with-text:active {
    color: #aaa;
    border: none;
}
.list-button.button-with-text > svg {
    position: relative;
    top: -1px;
}

#main-ui {
    display: flex;
    height: 100%;
    overflow: hidden;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#level-scene {
    overflow: hidden;
    flex-grow: 1;
}

#left-sidebar {
    height: 100%;
    border-right: 1px solid #555;
    background-color: #444;
}

#right-sidebar {
    width: 350px;
    height: 100%;
    border-left: 1px solid #555;
    background-color: #444;
    display: flex;
    flex-direction: column;
}

.sidebar-window {
    height: 100%;
    flex-shrink: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.sidebar-window > header {
    text-align: center;
    background: #555;
    padding: 2px;
    padding-bottom: 3px;
    min-height: 22px;
}

#add-list {
    /* display: flex;
    flex-wrap: wrap;
    width: 128px; */
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

/* #add-list > li {
    display: block;
} */

#add-list > li > svg {
    fill: none;
    stroke: #eee;
    stroke-width: 2px;
}

#add-list > li > svg .filled {
    fill: #eee;
    stroke: none;
}

#object-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#object-list > li {
    border-bottom: 1px dotted #555;
    padding: 2px 1em;
    cursor: default;
    display: flex;
}

#object-list > li > p:first-child {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#object-list > li:nth-child(even) {
    background-color: #404040;
}

#object-list > li.selected {
    color: #ffcd17;
    background-color: #333;
}

/* This is needed because HTML
tables apparently can't be made to scroll
on their own */
#properties-table-wrapper {
    overflow: auto;
    height: 100%;
}

#properties-table {
    padding: 0;
    margin: 0;
    width: 100%;
}

#properties-table tr {
    border-bottom: 1px dotted #555;
    padding: 2px 1em;
}

#properties-table tr:nth-child(even) {
    background-color: #404040;
}

#properties-table th {
    width: 40%;
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    cursor: default;
}

.deleted {
    display: none !important;
}
